
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - विपद् व्यवस्थापन प्रणाली </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dmSyatem.styles.css" asp-append-version="true" />
</head>
<body>
  <header>
            @if (SignInManager.IsSignedIn(User))
            {
                var userId = @UserManager.GetUserId(User);
                var roleIds = await UserManager.GetRolesAsync(await UserManager.FindByIdAsync(userId));

                if (roleIds.Contains("Admin"))
                {
                    <div class="row">
                        <div class="col-12">
                            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                              
                                    <a class="navbar-brand" asp-area="" asp-controller="Victim" asp-action="Index">
                                        <img src="/images/nepgov.png" style="height: 40px; width: auto; margin-right: 10px;">
                                        <b> विपद् व्यवस्थापन प्रणाली </b>
                                    </a>



                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                        <partial name="_LoginPartial.cshtml" />
                                    </div>
                               
                            </nav>
                        </div>

                        <nav id="stickyNavbar" class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow mb-3">
                           
                                <div class="d-flex justify-content-center w-100">
                            <a href="@Url.Action("Index", "Dashboard")" class="btn btn-custom-primary me-2">ड्यास बोर्ड</a>
                            <a href="@Url.Action("Index", "Victimmanagement")" class="btn btn-custom-primary me-2">पीडित व्यवस्थापन</a>
                            <a href="@Url.Action("Index", "DisasterType")" class="btn btn-custom-primary me-2">विपद् व्यवस्थापन</a>
                            <a href="@Url.Action("Index", "Report")" class="btn btn-custom-primary me-2">रिपोर्टहरू</a>
<<<<<<< HEAD
<<<<<<< HEAD
                            <a href="@Url.Action("Index", "Volunteer")" class="btn btn-custom-primary me-2">स्वयंसेवक</a>
                            <a href="@Url.Action("Index", "Rescue")" class="btn btn-custom-primary me-2">उद्धार टोली</a>
                            <a class="btn btn-custom-primary me-2" asp-area="Identity"  asp-page="/Account/Manage/Index">सेटिङ</a>
=======
                            <a href="@Url.Action("Index", "Volunteer")" class="btn btn-custom-primary me-2">Volunteer</a>
                            <a href="@Url.Action("Index", "Rescue")" class="btn btn-custom-primary me-2">Rescue Team</a>
                            <a href="@Url.Action("Index", "Donation")" class="btn btn-custom-primary me-2">Donation</a>
=======
                            <a href="@Url.Action("Index", "Volunteer")" class="btn btn-custom-primary me-2">स्वयंसेवक</a>
                            <a href="@Url.Action("Index", "Rescue")" class="btn btn-custom-primary me-2">उद्धार टोली</a>
                            <a href="@Url.Action("Index", "Donation")" class="btn btn-custom-primary me-2">दान</a>
>>>>>>> 9e0454d8dc08b614eca468d4ae5b6f62475b8459
                            <a class="btn btn-custom-primary me-2" asp-area="Identity" asp-page="/Account/Manage/Index">सेटिङ</a>
>>>>>>> ded488e2e6438d7ae79e193248fee529b16fd0aa

                                </div>
                          
                        </nav>
                    </div>



                }
                else
                {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Victim" asp-action="Index">
                            <img src="/images/nepgov.png" style="height: 40px; width: auto; margin-right: 10px;">
                            <b> विपद् व्यवस्थापन प्रणाली </b>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Victim" asp-action="Index">पीडित फारम</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="PrintService" asp-action="Index">छाप्नू होस</a>
                                </li>
                                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                    <partial name="_LoginPartial.cshtml" />
                                </div>
                            </ul>
                        </div>
                    </div>
                </nav>
                }

            }
        else
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Victim" asp-action="Index">
                        <img src="/images/nepgov.png" style="height: 40px; width: auto; margin-right: 10px;">
                        <b> विपद् व्यवस्थापन प्रणाली </b>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Victim" asp-action="Index">पीडित फारम</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PrintService" asp-action="Index">छाप्नू होस</a>
                            </li>
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <partial name="_LoginPartial.cshtml" />
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        }


        </header>

    </header>
    <div class="p-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
