@* @model IEnumerable<RescueTeam> *@

<h2>Rescue Teams</h2>

<a asp-asp-controller="Rescue" asp-action="Create" class="btn btn-primary">Create New Team</a>

<table class="table">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Province</th>

            <th>District</th>

            <th>Municipality</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if(ViewBag.teams != null)
        {
            @foreach (var team in ViewBag.teams)
            {
                <tr>
                    <td>@team.TeamName</td>
                      <td>@team.province.Province</td>
                    <td>@team.province.District</td>
                    <td>@team.province.Municipality</td> 
                    <td>
                        <a asp-action="Edit" asp-route-id="@team.Id" class="btn btn-warning">Edit</a>
                        <!-- Add other actions as needed -->
                    </td>
                </tr>
            }
        }
      
      
    </tbody>
</table>
