@* @model IEnumerable<RescueTeam> *@

<h2>उद्धार टोली</h2>

<a asp-asp-controller="Rescue" asp-action="Create" class="btn btn-primary">नयाँ टोली सिर्जना गर्नुहोस्</a>

<table class="table">
    <thead>
        <tr>
<<<<<<< HEAD
<<<<<<< HEAD
            <th>टोलीको नाम</th>
            <th>स्थान</th>
            <th>कार्यहरू</th>
=======
            <th>Team Name</th>
            <th>Province</th>
=======
            <th>टोलीको नाम</th>
            <th>प्रदेश</th>
>>>>>>> 9e0454d8dc08b614eca468d4ae5b6f62475b8459

            <th>जिल्ला</th>

<<<<<<< HEAD
            <th>Municipality</th>
            <th>Actions</th>
>>>>>>> ded488e2e6438d7ae79e193248fee529b16fd0aa
=======
            <th>नगरपालिका</th>
            <th>कार्यहरू</th>
>>>>>>> 9e0454d8dc08b614eca468d4ae5b6f62475b8459
        </tr>
    </thead>
    <tbody>
        @if(ViewBag.teams != null)
        {
<<<<<<< HEAD
            <tr>
                <td>@team.TeamName</td>
                <td>@team.Location</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@team.Id" class="btn btn-warning">सम्पादन गर्नुहोस्</a>
                    <!-- Add other actions as needed -->
                </td>
            </tr>
=======
            @foreach (var team in ViewBag.teams)
            {
                <tr>
                    <td>@team.TeamName</td>
                      <td>@team.province.Province</td>
                    <td>@team.province.District</td>
                    <td>@team.province.Municipality</td> 
                    <td>
                        <a asp-action="Edit" asp-route-id="@team.Id" class="btn btn-warning">सम्पादन गर्नुहोस्</a>
                        <!-- Add other actions as needed -->
                    </td>
                </tr>
            }
>>>>>>> ded488e2e6438d7ae79e193248fee529b16fd0aa
        }
      
      
    </tbody>
</table>
